#retirementDashboard {
  h3 {
    margin-bottom: 20px;
  }
  .sub-card{
    margin: 0px 10px;
    transition: opacity .2s;
    &.disabled{
      pointer-events: none;
      opacity: .3;
    }
    .title{
      font-size: 20px;
      text-align: left;
    }
    .sub{
      font-size: 12px;
      font-style: italic;
      text-align: center;
    }
    .picker{
      text-align: center;
      display: block;
    }
    input{
      text-align: center;
    }
  }
  .padded{
    margin-top: 8px;
    .sub{
      padding: 5px;
    }
  }
  .addAnother{
    width: 100%;
    height: 100px;
    text-align: center;
    color: #a1a1a1;
    .fa{
      font-size: 90px;
    }
    span{
      top: -30px;
      position: relative;
      left: 7px;
    }

  }
  .card{
    .edit{
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
  .bg-danger .list-group {
    margin: 8px;
    opacity: .95;
  }
}