#retirementDashboard {
  h3 {
    margin-bottom: 20px;
  }
  .sub-card{
    margin: 0px 10px;
    transition: opacity .2s;
    &.disabled{
      pointer-events: none;
      opacity: .3;
    }
    .title{
      font-size: 20px;
      text-align: left;
    }
    .sub{
      font-size: 12px;
      font-style: italic;
      text-align: center;
    }
    .picker{
      text-align: center;
      display: block;
    }
    input{
      text-align: center;
    }
  }
  .padded{
    margin-top: 8px;
    z-index: 10;
    position: relative;
    height: 0px;
    overflow: visible;
    .sub{
      padding: 8px;
      &.bg-warning, &.bg-danger, &.bg-success {
        box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4);
      }
      &.bg-danger{
        margin-left: -75px;
        margin-right: -75px;
      }
    }
  }
  .addAnother{
    width: 100%;
    height: 100px;
    text-align: center;
    color: #a1a1a1;
    .fa{
      font-size: 90px;
    }
    span{
      top: -30px;
      position: relative;
      left: 7px;
    }

  }
  .card{
    .edit{
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
  .bg-danger .list-group {
    margin: 8px;
    opacity: .95;
  }
}