#setup{
  .steps{
    margin-bottom: 24px;
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    .step{
      $completeColor: green;
      $incompleteColor: black;
      text-align: center;
      flex: 1;
      position: relative;
      pointer-events: none;
      &:after {
        $barHeight: 4px;
        content: '';
        height: $barHeight;
        background-color: $incompleteColor;
        width: 100%;
        left: -50%;
        top: calc(#{'50% - ' + $barHeight/2});
        position: absolute;
        z-index: 0;
        transition: background-color .5s;
      }
      &.complete:after, &.active:after{
        background-color: $completeColor;
      }
      &.complete{
        cursor: pointer;
        pointer-events: auto;
      }
      &:first-child:after{
        display: none;
      }
      span{
        transition: background-color .5s;
        color: white;
        z-index: 1;
        position: relative;
        border-radius: 4px;
        background-color: $incompleteColor;
        padding: 4px 8px;
      }
      &.complete span{
        border: 1px solid $completeColor;
        background-color: $completeColor;
      }
    }
  }
}